.menu-header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-section {
    max-width: 50rem;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
}

.menu-section h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3.8rem;
    text-align: center;
}

.menu-section p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


.sort-btns {
    display: flex;
    gap: 1.2rem;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #000;
    border: 1px solid;
    padding: 0.6rem 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: #eee;
    cursor: pointer;
    box-shadow: 1px 2px 2px #0000006f;
}

.btn:active {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: 1px solid;
    padding: 0.6rem 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    box-shadow: inset 1px 2px 2px #000;
} 


.sushi-card-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2rem;
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    padding: 0.7rem;
}

.sushi-card {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 15rem;
    position: relative;
    border: 1px solid;
    box-shadow: 1px 1px 1px #33333394;
}

.card-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 12rem;
}


.card-desc {
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    line-height: 1.2rem;
    color: #1f1e1ec3;
}

.card-desc h3 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #000;
}

.pricing {
    position: absolute;
    display: block;
    border: 1px solid;
    top: 7%;
    left: 83%;
    transform: translate(-50%, -50%);
    padding: 0.1rem 0.4rem;
    color: #000;
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.active {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #000;
    background-color: #6ba4d3;
    border: 1px solid;
    padding: 0.6rem 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}


@media screen and (max-width: 1000px) {
    .menu-section {
        max-width: 35rem;
        gap: 1.2rem;
    }

    .menu-section h1 {
        font-size: 2.4rem;
        letter-spacing: 0.8rem;
    }
}

/* @media screen and (max-width:750px) {
    .list-container {
        left: 92%;
    }
} */


@media screen and (max-width: 575px) {
    .menu-header {
        width: 85%;
        margin: 0 auto;
    }

    .menu-section h1 {
        font-size: 1.6rem;
    }

    .menu-section p {
        font-size: 1rem;
    }

    .sort-btns {
        gap: 0.8rem;
    }

    .btn {
        padding: 0.4rem 0.9rem;
    }

    .btn:active {
        padding: 0.4rem 0.9rem
    }

    .sushi-card {
        width: 16rem;
    }
}

@media screen and (max-width: 475px) {
    .btn {
        padding: 0.3rem 0.7rem;
        font-size: 0.6rem;
    }

    .btn:active {
        padding: 0.3rem 0.7rem;
        font-size: 0.6rem;
    }
}


@media screen and (max-width: 375px) {
    
}