.menu-header{
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
}

.menu-section {
    width: 50rem;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
}

.menu-section h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3.8rem;
    text-align: center;
}

.menu-section p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


.sort-btns {
    display: flex;
    gap: 1.2rem;
}

.sort-btns a:link, .sort-btns a:visited {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #000;
    border: 1px solid;
    padding: 0.6rem 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.sort-btns a:hover, .sort-btns a:active {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ddd;
    background-color: #000;
    border: 1px solid;
    padding: 0.6rem 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}


.sushi-card-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2rem;
    width: 80vw;
    margin: 0 auto;
    padding: 0.7rem;
}


.sushi-card {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 15rem;
    position: relative;
    border: 1px solid;
}

.card-img {
    background-size: cover;
    background-position: center;
}


.card-desc {
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    line-height: 1.2rem;
    color: #1f1e1ec3;
}

.card-desc h3 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #000;
}

.pricing {
    position: absolute;
    display: block;
    border: 1px solid;
    top: 7%;
    left: 83%;
    transform: translate(-50%, -50%);
    padding: 0.1rem 0.4rem;
    color: #000;
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}